[submodule "elm-native"]
	path = elm-native
	url = https://github.com/hariroshan/elm-native
[submodule "examples/ex1-counter"]
	path = examples/ex1-counter
	url = https://github.com/hariroshan/ex1-counter.git
