[submodule "elm-native"]
	path = elm-native
	url = https://github.com/hariroshan/elm-native
[submodule "examples/ex1-counter"]
	path = examples/ex1-counter
	url = https://github.com/hariroshan/ex1-counter.git
[submodule "examples/ex2-weather"]
	path = examples/ex2-weather
	url = https://github.com/hariroshan/ex2-weather
[submodule "examples/webgl-triangle"]
	path = examples/webgl-triangle
	url = https://github.com/hariroshan/webgl-triangle
